h3 {
    margin: 10px 0;
}

header h2 {
    margin: 0;
}

header {
    background-color: #415e6b;
    color: white;
}

.container:after,.container:before{
    content:"";
    display:table;
    clear:both;
}

.container {
    padding: 10px 16px
}

.red {
    color: red;
}

.green {
    color: green;
}

.card {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin-bottom: 15px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button {
    padding: 0.5em;
    margin: 0.3em;
}

.wasm-support-dot {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: inline-block;
    margin-right: 4px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pages {
    overflow-y: scroll;
    flex-grow: 1;
}

.page {
    margin: 10px;
    display: none;
}

.page.active {
    display: block;
}

.tabs {
    display: flex;
    background-color: white;
    border-top: 1px solid gainsboro;
    align-items: center;
}

.tab {
    flex-grow: 1;
    height: 36px;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    font-size: 1.3em;
    text-align: center;
    align-content: center;
}

.tab[aria-selected="true"] {
    background-color: lightgrey;
}
